{% extends 'base.html' %}

{% block title %}
    Creacion de Curso
{% endblock %}

{% block content %}
    <h1> Añadir Curso</h1>



    {% if form %}

        <form action="" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <table>
                {{form.as_table}}
            </table>


            <input type="submit" value="Crear Curso">
        </form>
    {% endif %}


    {% if form_errors %}
        <h2 style="color: rgb(232, 29, 29);" >Errores:</h2>
        {{form_errors}}
    {% endif %}


    {% if message %}
        <h2 style="color: rgb(53, 182, 53);" >{{message}}</h2>
    {% endif %}





{% endblock %}