{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

 
{% block content %}

<h1> Bienvenido a MasterlashAcademy </h1>

<ul class="cards">
  <li>
    <a href="" class="card">
      <img src="https://i.pinimg.com/564x/93/2e/e5/932ee578707437572486690640c18435.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
          <img class="card__thumb" src="https://i.pinimg.com/564x/0c/c9/eb/0cc9ebf1ce9cf1cc5ecc98600264c2dc.jpg" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">Nuestros Cursos</h3>           
          </div>
        </div>
        <p class="card__description"> Que esperas para inscribrirte en MasterlashAcademy?</p>
      </div>
    </a>      
  </li>
  <li>
    <a href="" class="card">
      <img src="https://i.pinimg.com/564x/1b/51/53/1b51530aab418446e29d486a9ef0d700.jpg" class="card__image" alt="" />
      <div class="card__overlay">        
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <img class="card__thumb" src="https://i.pinimg.com/564x/0c/c9/eb/0cc9ebf1ce9cf1cc5ecc98600264c2dc.jpg" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">Consegui insumos exclusivos</h3>
          </div>
        </div>
        <p class="card__description">La mejor calidad y durabilidad del mercado!</p>
      </div>
    </a>
  </li>
  <li>
    <a href="" class="card">
      <img src="https://i.pinimg.com/564x/69/3a/89/693a8907b9eed9ca480a2140e1589771.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
          <img class="card__thumb" src="https://i.pinimg.com/564x/0c/c9/eb/0cc9ebf1ce9cf1cc5ecc98600264c2dc.jpg" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">Sobre nosotros</h3>
          </div>
        </div>
        <p class="card__description">Conocenos un poco mas!</p>
      </div>
    </a>
  </li>
</ul>

<style>
    :root {
      --surface-color: #fff;
      --curve: 40;
    }

    * {
      box-sizing: border-box;
    }

    body {
      font-family: 'Noto Sans JP', sans-serif;
      background-color: #fef8f8;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      margin: 4rem 5vw;
      padding: 0;
      list-style-type: none;
    }

    .card {
      position: relative;
      display: block;
      height: 100%;  
      border-radius: calc(var(--curve) * 1px);
      overflow: hidden;
      text-decoration: none;
    }

    .card__image {      
      width: 100%;
      height: auto;
    }

    .card__overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;      
      border-radius: calc(var(--curve) * 1px);    
      background-color: var(--surface-color);      
      transform: translateY(100%);
      transition: .2s ease-in-out;
    }

    .card:hover .card__overlay {
      transform: translateY(0);
    }

    .card__header {
      position: relative;
      display: flex;
      align-items: center;
      gap: 2em;
      padding: 2em;
      border-radius: calc(var(--curve) * 1px) 0 0 0;    
      background-color: var(--surface-color);
      transform: translateY(-100%);
      transition: .2s ease-in-out;
    }

    .card__arc {
      width: 80px;
      height: 80px;
      position: absolute;
      bottom: 100%;
      right: 0;      
      z-index: 1;
    }

    .card__arc path {
      fill: var(--surface-color);
      d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
    }       

    .card:hover .card__header {
      transform: translateY(0);
    }

    .card__thumb {
      flex-shrink: 0;
      width: 50px;
      height: 50px;      
      border-radius: 50%;      
    }

    .card__title {
      font-size: 1em;
      margin: 0 0 .3em;
      color: #6A515E;
    }

    .card__tagline {
      display: block;
      margin: 1em 0;
      font-family: "MockFlowFont";  
      font-size: .8em; 
      color: #D7BDCA;  
    }

    .card__status {
      font-size: .8em;
      color: #D7BDCA;
    }

    .card__description {
      padding: 0 2em 2em;
      margin: 0;
      color: #D7BDCA;
      font-family: "MockFlowFont";   
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }    
</style>


{% endblock %}