{% extends 'base.html' %}

{% block title %}
    Listado de insumos
{% endblock %}

{% block content %}

    <h2> Listado de Insumos</h2>
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <h2>Crear nuevo insumo </h2> <a href="/supplies/create-supplie/" class="btn btn-dark">Crear</a>
            {% endif %}
        {% endif %}    
                {% for supplie in supplies %}


                <div class="card" style="width: 18rem;">
                    <img src={{supplie.supplie_image.url}} class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">{{supplie.name}}</h5>
                    <p class="card-text">Precio: ${{supplie.price}}</p>
                    {% if supplie.stock == True %}
                        <p>Actualmente hay stock</p>
                    {% else %}
                        <p>Actualmente, nos quedamos sin stock</p>
                    {% endif %}
                    <a href="#" class="btn btn-success">Comprar</a>
                    <a href="/supplies/update-supplies/{{supplie.id}}/" class="btn btn-info">Actualizar</a>
                    {% if request.user.is_superuser %}
                    <a href="/supplies/delete-supplies/{{supplie.id}}/" class="btn btn-danger">Borrar</a>
                    {% endif %}
                    </div>
                </div>



                 {% endfor %}

{% endblock %}
