{% extends 'base.html' %}

{% block title %}
    Conocenos
{% endblock %}

{% block content %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            <div class = "image">
               <img src="https://ar.pinterest.com/pin/492649950966031/">
            </div>

            <div class = "content">
                <h2>About Us</h2>
                <span><!-- line here --></span>
                <p>Hola! Somos MasterlashAcademy, una academia dedicada al mundo de las extensiones de pestañas con una trayectoria de mas de 7 años.
                    Te ofrecemos todas las herramientas e informacion para que te conviertas en un/a lashista profresional! 
                    Como novedad...ampliamos nuestro servicio!!!, ahora podes obtener insumos exclusivos de la academia, ofrecemos calidad
                    y durabilidad, para que crezcas cada vez mas en tu negocio. Podes adquirirlos por la web o contactandote con nuestros proveedores.</p>
                <ul class = "links">
                    <li><a href = "#">Cursos</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">Insumos</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">Proveedores</a></li>
                </ul>
            </div>
        </section><br><br>
        <div class="credit">Made with <span style="color:tomato">❤</span> by <a href="https://www.learningrobo.com/">Learning Robo</a></div>
    </body>
</html>
{% endblock %}

