{% extends 'base.html' %}

{% block title %}
    Listado de proveedores
{% endblock %}

{% block content %}

    <h1>Listado de proveedores</h1>
    <h2>Crear nuevo prestador </h2> <a href="/providers/provider-create/" class="btn btn-primary">Crear</a>

    {% for provider in object_list %}


        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUl-m5GbdiOlXWYCCA9UViIoPK9JepniFrBw&usqp=CAU" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">{{provider.name}}</h5>
            <p class="card-text">Direccion: {{provider.address}}</p>
            <p>Telefono: {{provider.phone_number}}</p>
        </div>
        </div>



    {% endfor %}

{% endblock %}